input = guides_input.mallet
num-topics = 45
output-state = ./mallet_output/per_document_output.gz
output-topic-keys = ./mallet_output/topic_keys.txt
num-threads = 10 
output-doc-topics = ./mallet_output/topic_props.txt
topic-word-weights-file = ./mallet_output/topic_words_weights.txt
num-iterations = 10000
word-topic-counts-file = ./mallet_output/word_topic_counts.txt
optimize-burn-in = 500
optimize-interval = 10
