body {padding-top : 60px; background-image : url("../img.jpg"); background-repeat: no-repeat; background-attachment: fixed; background-size: 100%}
#user_inputs{width:60%;margin-left:20%}
#outputs{width:60%;margin-left:20%}
.form-horizontal .control-label{padding-top:0px}
#ex1Slider .slider-selection {
	background: #BABABA;
}
.slider.slider-horizontal{margin:20px}
